<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - TravelPacker</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>

<body>
    <header>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
            <div class="navbar-nav">
                <a class="navbar-link pad-left-20 app-header" asp-area="" asp-controller="Home"
                    asp-action="Index">TRAVELPACKER</a>
                <a class="nav-link active pad-left-20 pad-right-10" asp-area="" asp-controller="ListType"
                    asp-action="Index">List Type</a>
                <a class="nav-link pad-right-10" asp-area="" asp-controller="TravelItem" asp-action="Index">Travel Items</a>
                <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                <partial name="_LoginPartial" />
            </div>
        </div>
    </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2020 - TravelPacker - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>

</html>