@model TravelPacker.Models.ListType

<form asp-action="Edit">
    <fieldset class="item-form">
        @Html.HiddenFor(m => m.DateCreated)
        @Html.HiddenFor(m => m.Id)
        @Html.LabelFor(m => m.Title)
        @Html.TextAreaFor(m => m.Title)
        <input type="submit" name="Update" />
    </fieldset>
</form>
