@model IEnumerable<TravelPacker.Models.ListType>

<h2>Trip Types</h2>

<table class="table table-hover">
    <thead>
        <tr>
            <th scope="col">Trip Type</th>
            <th scope="col">Date Created</th>
            <th scope="col">Edit</th>
            <th scope="col">Delete</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var type in Model)
        {
                        <tr>
                            <td>@type.Title</td>
                            <td>@type.DateCreated</td>
                            <td><a asp-action="Edit" asp-route-id="@type.Id">Edit</a></td>
                            <td><a asp-action="Delete" asp-route-id="@type.Id">Delete</a></td>
                        </tr>
        }
    </tbody>
    </table>

<a class="create" asp-action="Create">Add New List Type</a>
